<div class="item">
    {{> item-header title=title subtitle=subtitle location=location startDate=startDate endDate=endDate startDate2=startDate2 endDate2=endDate2}}
    <div class="clearfix"></div>
    {{> @partial-block }}
</div>
