<div class="item-header">
    {{#if title}}
    <div class="item-header-title">
        {{title}}{{#if location}}<span class="item-location">, {{location}}</span>{{/if}}
    </div>
    {{/if}}
    {{#if subtitle}}
    <div class="item-header-subtitle">
        {{subtitle}}
    </div>
    {{/if}}
</div>
