# Development files
renovate.json
Makefile
test/
node_modules/
npm-debug.log
.git/
.github/
.gitignore

# Sample and development data
sample-resume.json
resume.json
resume.html
resume*.png
resume.pdf
reference.pdf

.DS_Store
public
TODO.md
*.patch
