name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6

    - name: Set up Node.js
      uses: actions/setup-node@v6
      with:
        node-version-file: '.nvmrc'  # Use the version from .nvmrc

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: npm test
      env:
        CI: 'true'
